@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
/* -------------------- */
/* Shared */
/* -------------------- */

body {
	font-family: Inter, sans-serif;
}

.bold-text,
strong {
	font-weight: 600;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
}

/* -------------------- */
/* Header */
/* -------------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.header-brand {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-brand img {
	width: 4rem;
	height: 4rem;
}

nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: #3f3f3f;
}

nav a:hover {
	font-weight: 500;
}

.search-input {
	display: flex;
	align-items: center;
	background-color: gainsboro;
	padding: 0.4rem;
	border-radius: 9999px;
}

input[type="search"] {
	outline: none;
	border: none;
	background-color: transparent;
}

.header-dropdown {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header-dropdown img {
	height: 2rem;
	width: 2rem;
}

.header-user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.avatar {
	border-radius: 9999px;
	width: 2rem;
	height: 2rem;
	object-fit: cover;
}

.bell-icon {
	color: gainsboro;
}

.add-user {
	all: unset;
	width: 2rem;
	height: 2rem;
	background-color: #3f3f3f;
	color: gainsboro;
	border-radius: 9999px;
}
.add-user:active {
	background-color: hotpink;
}

/* -------------------- */
/* Hero */
/* -------------------- */

.first-image-set {
	display: flex;
	height: 80vh;
	width: 100vw;
}

.hero-image {
	height: 100%;
	flex: 1;
}

.hero-text {
	flex: 1;
	margin-bottom: 2rem;
	font-size: 3rem;
	height: 100%;
	font-weight: 300;
	line-height: 4rem;
	margin-bottom: 1rem;
}

/* -------------------- */
/* Card Section */
/* -------------------- */

/* -------------------- */
/* Footer */
/* -------------------- */
