@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
/* -------------------- */
/* Shared */
/* -------------------- */

body {
	font-family: Inter, sans-serif;
}

.bold-text,
strong {
	font-weight: 600;
}

.icon {
	width: 1.9em;
	height: 1.9rem;
}

/* -------------------- */
/* Header */
/* -------------------- */

.sticky {
	position: sticky;
	top: 0rem;
	background-color: white;
}

.logo {
	font-family: SD Georgia Light Italic;
	font-style: oblique;
	text-decoration: none;
	color: black;
	font-size: 1.8rem;
}

.navb {
	font-family: SF Arborcrest Light, sans-serif;
	font-size: 2.7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.navb a {
	text-decoration: none;
	color: #1d1d1d;
}

.navb a:hover {
	color: black;
}

.navelementcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.navelement {
	display: inline-block;
}

.navelement:hover {
	font-weight: 900;
	transform: scale(101%);
}

.navelement:hover .dot {
	background-color: black;
}

.navelement:hover .nav-icon {
	fill: black;
}

.dot {
	border: 1px solid black;
	border-radius: 9999px;
	height: 0.7rem;
	width: 0.7rem;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 0.3rem;
}

.searchfavoritefinderelement {
	display: flex;
	align-items: center;
}

.search-icon {
	margin: 0.2rem;
}

.navelement .button {
	display: flex;
	justify-self: center;
	align-items: center;
}

.button {
	border: 1px solid black;
	color: black;
	border-radius: 9999px;
	height: 1.8rem;
	width: 0 auto;
	background: none;
	font-family: SF Arborcrest Light;
	font-size: 2.9vh;
	font-weight: bolder;
}

.button:hover {
	background-color: black;
}

.button:hover > a {
	color: white;
}

.button a {
	font-weight: bolder;
	text-decoration: none;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

/* -------------------- */
/* Hero */
/* -------------------- */

.first-image-set {
	display: flex;
	height: 80vh;
	width: 100vw;
}

.hero-image {
	height: 100%;
	flex: 1;
}

.hero-text {
	flex: 1;
	margin-bottom: 2rem;
	font-size: 3rem;
	height: 100%;
	font-weight: 300;
	line-height: 4rem;
	margin-bottom: 1rem;
}

/* -------------------- */
/* Card Section */
/* -------------------- */

/* -------------------- */
/* Footer */
/* -------------------- */
