@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
/* -------------------- */
/* Shared */
/* -------------------- */

body {
	font-family: Inter, sans-serif;
}

.bold-text,
strong {
	font-weight: 600;
}

.icon {
<<<<<<< HEAD
	width: 1.5rem;
	height: 1.5rem;
=======
	width: 1.9em;
	height: 1.9rem;
>>>>>>> dba20a553d28e5329aa176f2bad09339ecd0b0ac
}

/* -------------------- */
/* Header */
/* -------------------- */

<<<<<<< HEAD
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.header-brand {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-brand img {
	width: 4rem;
	height: 4rem;
}

nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}

nav a {
	text-decoration: none;
	color: #3f3f3f;
}

nav a:hover {
	font-weight: 500;
}

.search-input {
	display: flex;
	align-items: center;
	background-color: gainsboro;
	padding: 0.4rem;
	border-radius: 9999px;
}

input[type="search"] {
	outline: none;
	border: none;
	background-color: transparent;
}

.header-dropdown {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header-dropdown img {
	height: 2rem;
	width: 2rem;
}

.header-user {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.avatar {
	border-radius: 9999px;
	width: 2rem;
	height: 2rem;
	object-fit: cover;
}

.bell-icon {
	color: gainsboro;
}

.add-user {
	all: unset;
	width: 2rem;
	height: 2rem;
	background-color: #3f3f3f;
	color: gainsboro;
	border-radius: 9999px;
}
.add-user:active {
	background-color: hotpink;
=======
.sticky {
	position: sticky;
	top: 0rem;
	background-color: white;
}

.logo {
	font-family: SD Georgia Light Italic;
	font-style: oblique;
	text-decoration: none;
	color: black;
	font-size: 1.8rem;
}

.navb {
	font-family: SF Arborcrest Light, sans-serif;
	font-size: 2.7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.navb a {
	text-decoration: none;
	color: #1d1d1d;
}

.navb a:hover {
	color: black;
}

.navelementcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.navelement {
	display: inline-block;
}

.navelement:hover {
	font-weight: 900;
	transform: scale(101%);
}

.navelement:hover .dot {
	background-color: black;
}

.navelement:hover .nav-icon {
	fill: black;
}

.dot {
	border: 1px solid black;
	border-radius: 9999px;
	height: 0.7rem;
	width: 0.7rem;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 0.3rem;
}

.searchfavoritefinderelement {
	display: flex;
	align-items: center;
}

.search-icon {
	margin: 0.2rem;
}

.navelement .button {
	display: flex;
	justify-self: center;
	align-items: center;
}

.button {
	border: 1px solid black;
	color: black;
	border-radius: 9999px;
	height: 1.8rem;
	width: 0 auto;
	background: none;
	font-family: SF Arborcrest Light;
	font-size: 2.9vh;
	font-weight: bolder;
}

.button:hover {
	background-color: black;
}

.button:hover > a {
	color: white;
}

.button a {
	font-weight: bolder;
	text-decoration: none;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
>>>>>>> dba20a553d28e5329aa176f2bad09339ecd0b0ac
}

/* -------------------- */
/* Hero */
/* -------------------- */

<<<<<<< HEAD
.first-image-set {
	display: flex;
	height: 80vh;
	width: 100vw;
}

.hero-image {
	height: 100%;
	flex: 1;
}

.hero-text {
	flex: 1;
	margin-bottom: 2rem;
	font-size: 3rem;
	height: 100%;
	font-weight: 300;
	line-height: 4rem;
	margin-bottom: 1rem;
=======
#hero {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 2rem;
	gap: 4rem;
}

.hero-text {
	width: 40%;
}

.hero-text h1 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 4rem;
	margin-bottom: 1rem;
}

.hero-text > p {
	margin-bottom: 2rem;
}

.designers {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.avatars .avatar {
	width: 3rem;
	height: 3rem;
}

.inset {
	margin-left: -16px;
}

.avatars .avatar {
	position: relative;
	border: 2px solid white;
}

.hero-image {
	width: 40%;
	position: relative;
}

.hero-image .shape,
.hero-image img {
	width: 70%;
	height: 40rem;
	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
}

.hero-image img {
	object-fit: cover;
}

.hero-image .shape {
	border: 2px solid gainsboro;
	position: absolute;
	top: 2rem;
	left: 2rem;
	z-index: -1;
}

.hero-stats {
	width: 20%;
	align-self: flex-end;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.stat h4 {
	font-weight: bold;
	font-size: x-large;
	margin-bottom: 0.4rem;
}

.stat p {
	color: #3f3f3f;
>>>>>>> dba20a553d28e5329aa176f2bad09339ecd0b0ac
}

/* -------------------- */
/* Card Section */
/* -------------------- */

/* -------------------- */
/* Footer */
/* -------------------- */
